    

@media all and (min-width:1700px){
    
    
    #contactsMediasDiv div{
      border-radius:50px;
    }
    
    #contactsMediasDiv{
      position:relative;
      top:0px;
    
      
      width:100vw;
      height:auto;
      padding-bottom:40%;
    
      background:white;
      background:none;

      display:grid;
      grid-template-columns: repeat(2,50%);

      justify-content:center;
     
    }
    
    
    
    
    .contactsMediaBox{
      position:relative;
      left:15%;
      top:100px;
    
      display:block;
      margin-top:100px;
      
      max-width:70%;
      height:500px;
    
      opacity:1;
    
      transform: none !important;
      
      background:#0042aa;
    
      
      
      
    }
    
    
    .contactsDisplayAvatar{
      position:relative;
      top:0px;
      left:0px;
    
      width:100%;
      height:200px;
    
      background:var(--darkModeOppositeBackground);
      
    }
    
    
    .contactsMediaPfp{
      position:relative;
      top:-110px;
      left:50px;
    
      
    
      width:190px;
      height:190px;
    
      border-radius:50%;
    
      
    
      /*/background:var(--pfpImageUrl);/*/
      
      
      background-size:cover;
      background-repeat:no-repeat;
    }
    
    
    .contactsMediaTextDiv{
      position:relative;
      top:-320px;
      right:-20%;
    
      text-align:end;
      
      height:300px;
      width:80%;
    
      background:none;
    
    }
    
    
    .contactsMediaTextDiv h1{
      position:relative;
    
      
      font-size:3rem;
      color:orange;
    }
    
    
    .contactsMediaTextDiv p{
      position:relative;
    
      font-size:2.5rem;
    
      color:var(--darkModeOppositeBackground);
    }
    
    
    .contactsMediaBoxContactButton{
      position:relative;
      top:-465px;
      
      width:50%;
      height:150px;
    
      border-radius:50px;
      
      display:block;
      margin:0px 30%;
    
      background:var(--darkModeOppositeBackground);
      
    }
    
    .contactsMediaBoxContactButton h1{
      font-size:50px;
      color:var(--darkModeBackground);
    }
    
    
}