    

@media all and (min-width:1700px){
    
    #experienceMediasDiv{
      position:relative;
      top:0px;
    
      
      width:50vw;
      height:auto;
      padding-bottom:40%;
    
      background:white;
      background:none;
    }
    
    
    .experienceMediaSectionTitles{
      position:relative;
      text-align:center;
    
      font-size:2.5rem;
    
      color:var(--darkTextColor);
    }

    .experienceMediaSectionTitles:nth-child(3){
      color:green;
      position:absolute;
      top:-60vh;
      right:-30vw;
      
    }
    
    #allExperienceSkills{
      position:relative;
      align-items:center;
      justify-content:center;

      width:50vw;
      
      display:grid;
      grid-template-columns:repeat(3, 225px);
      
      grid-gap:20px;
    
      margin-bottom:70px;

      background:none;
    
    
    }
    
    
    
    
    .allExperienceDivObject{
      position:relative;
      
      height:190px;
      width:190px;
    
      margin-right:50px;
      
      
    
      background:none;
    }
    
    .allExperienceObjectImage{
      positon:relative;
      
      width:60%;
      height:60%;
    
      
      margin-left:25%;
      margin-top:20px;
      
      
      background-size:cover;
      background-repeat:no-repeat;
    }
    
    
    .allExperienceObjectName{
      position:relative;
    
      margin-top:5px;
      text-align:center;
    
      font-size:2rem;
    
      color:green;
      text-shadow:2px 2px 5px blue;
    }
    
    #experienceTimeline{
      position:absolute;
      top:-50vh;
      right:-75%;
    
      width:50vw;
      height:100%;
      
      
    
      background:none;
    }
    
    #timelineSvgDiv{
      position:relative;
  
      display:flex; 
      align-items:center; 
      justify-content:center;
    
      width:50%;
      height:100%;
    
      
      left:50%;
    
    
      background:none;
    }
    
    #timelineElementsDiv{
      position:relative; 
      top:-100%;
      
      width:100%; 
      height:100%; 
    
      display:grid;
      grid-template-columns:100%;

      align-content:center;
      justify-items:center;

      
      
       
    
      background:none;
    }
    
    
    .timelineButton{
      position:relative; 
      top:50px;
      left:30%; 
      
      width:auto;
      height:80px; 
    
      border-radius:50px;
      border:2px solid cyan;
      
    
      
      
      
      
      
      text-align:center;
    }
    
    .timelineButtonText{
    
      font-size:2rem;
    }
    
    .timelineYear{
      position:relative;
      top:100px;
      
      text-align:end;
      
      
      color:var(--darkTextColor);
      
    }

}