


#experienceMediasDiv{
  position:relative;
  top:0px;

  
  width:100vw;
  height:200vh;
  padding-bottom:40%;

  background:white;
  background:none;
}


.experienceMediaSectionTitles{
  position:relative;
  text-align:center;

  font-size:2.5rem;

  color:var(--darkTextColor);
}


#allExperienceSkills{
  position:relative;
  align-items:center;
  justify-content:center;
  
  display:grid;
  grid-template-columns:repeat(3, 225px);
  
  grid-gap:20px;

  margin-bottom:70px;


}




.allExperienceDivObject{
  position:relative;
  
  height:225px;
  width:225px;

  margin-right:50px;
  
  

  background:none;
}

.allExperienceObjectImage{
  position:relative;
  
  width:60%;
  height:60%;

  
  margin-left:25%;
  margin-top:20px;
  
  
  background-size:cover;
  background-repeat:no-repeat;
}


.allExperienceObjectName{
  position:relative;

  margin-top:5px;
  text-align:center;

  font-size:2rem;

  color:green;
  text-shadow:2px 2px 5px blue;
}

#experienceTimeline{
  position:relative;

  width:100%;
  height:50%;
  


  background:none;
}

#timelineSvgDiv{
  display:flex; 
  align-items:center; 
  justify-content:center;

  width:90%;
  height:100%;

  
  margin-left:5%;


  background:none;
}

#timelineElementsDiv{
  position:relative; 
  top:-100%;
  
  width:100%; 
  height:100%; 

  display:grid;
  grid-template-columns:100%;
  
  
  
  
  
  
  

  background:none;
}


.timelineButton{
  position:relative; 
  top:50px;
  left:40%; 
  
  width:20%;
  height:100px; 

  border-radius:50px;
  border:2px solid cyan;

  
  
  
  
  
  text-align:center;
}

.timelineButtonText{

  font-size:2rem;
}

.timelineYear{
  position:relative;
  top:100px;
  
  text-align:center;
  
  
  color:var(--darkTextColor);
  
}