


#myProjectsDiv{
  position:relative;
  

  
  width:100vw;
  height:auto;

  background:none;

  display:grid;
  grid-template-columns:100%;
  grid-row-gap:90px;
  
}

.myProjectsBox{
  position:relative;

  width:80%;
  
  height:800px;

  margin-left:10%;
  margin-top:80px;

  
  
  background:var(--darkModeOppositeBackground);
  background:linear-gradient(90deg, var(--darkModeOppositeBackground), var(--darkModeBackground));
}


.myProjectBoxText{
  position:relative;
  top:5%;

  width:80%;
  height:50%;

  margin-left:5%;
  
  text-align:end;

  background:none;
}


.myProjectBoxTextHeader{
  position:relative;

  font-size:5rem;
  
  color:white;
}

.myProjectBoxTextBio{
  position:relative;

  font-size:2rem;
  color:orange;
  
}


.myProjectBoxOptions{
  position:relative;
  left:-5%;

  width:110%;
 
  height:20%;
  bottom:-10%;

  

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50px;
  

  
  

  
  background:linear-gradient(60deg, var(--darkModeOppositeBackground), var(--darkModeBackground));
}

.myProjectBoxOptionsButton{
  position:relative;
  
  width:100px;
  height:100px;

  margin-left:5%;
  margin-right:5%;

  border-radius:50%;
  
  
}


.myProjectBoxOptionsButton h1{
  font-size:2rem;
}